@media (max-width: 954px){
    body{
        content:'';
        background: url(../images/bg-mobile.svg) no-repeat top;
        background-size: contain;
     
        background-color: var(--bg-color);  
        max-width: 992px; 
        margin: 20px;   
    }

    .header{
        display: flex;
        align-items: center;
        height: 6vh;
        margin-bottom: 20px;
    }
    
    .header .logo img{
        max-width: 150px;
        margin-left: 8vw;
    }  

    .container .main-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 500px;
    }

    .container .main-info .img-left img{
        width: 80vw;
        max-width: 400px;
        margin: 0;
    }
    
    .container .main-info .text-right{
        align-items: center;
        text-align: center;
        width: 90vw;
        max-width: none;
        margin: 0;
        padding: 20px;
    }

    .container .main-info .text-right h2{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    
    .container .main-info .text-right p{
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 480px;
    }

    .container .main-info .text-right .btn{
        height: 40px;
        font-size: 14px;
        margin-bottom: 30px;
    }
        
    footer .social ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 40px;
    }
}
