html{
    height: 100vh;
}

body{
    content:'';
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;

    background-color: var(--bg-color);
    display:flex;
    flex-direction: column;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 200px;
}

.header .logo{
    display: flex;
    align-items: center;
    height: 200px;
    margin-left: 80px;
}

.container .main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .main-info .text-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 495px;
}

.container .main-info .text-right h2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 60px;
}

.container .main-info .text-right p{
    margin-bottom: 30px;
}

.container .main-info .text-right .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    color: var(--bg-color);
    height: 55px;
    width: 200px;
    border-radius: 30px;
}

.container .main-info .text-right .btn:hover{
    background-color: var(--active-states);
    color: var(--font-color);
    transition: 0.3s ease-in-out;
}

.footer{
    display: flex;
    justify-content: end;
}


