html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    max-width: 1920px;
    max-height: 1080px;
    content:'';
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;

    background-color: var(--bg-color);    
    width: 100%;
    flex-direction: column;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    margin: 20px;  
}

.header{
    display: flex;
    align-items: center;
    margin: 30px;
    min-height: 82px;
}

.header .logo img{
    width: 70%;
    margin-left: 80px;
}

.container .main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 640px;
}

.container .main-info .img-left img{
    width: 50vw;
    max-width: 960px;
    margin: 0 60px;
}

.container .main-info .text-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 495px;
    margin-right: 60px;
}

.container .main-info .text-right h2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 60px;
}

.container .main-info .text-right p{
    margin-bottom: 30px;
}

.container .main-info .text-right .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    color: var(--bg-color);
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
}

.container .main-info .text-right .btn:hover{
    background-color: var(--active-states);
    color: var(--font-color);
    box-shadow: 1px 2px 3px black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

footer .social ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 120px;
}

.social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 25px;
    margin: 15px;
    width: 50px;
    height: 50px;
    border: solid 2px var(--font-color);
    border-radius: 50%;
}


.social ul li a:hover{
    color: var(--active-states);
    transition: 0.3s ease-in-out;   
    border-color: var(--active-states);
}
